conda.enabled = true

params.from_gemma = true
params.author_submitted = false 
params.study_names = "$projectDir/shortnames.txt"
// source_data
params.h5ad_files = "/space/grp/rschwartz/rschwartz/get_gemma_data.nf/psychEncode_author_false_sample_split_false/homo_sapiens"
params.gemma_meta_dir = "$projectDir/gemma/metadata"

params.outdir = "$projectDir/results_author_submitted_${params.author_submitted}_from_gemma_${params.from_gemma}"

// manual aggregation options
params.cell_type_column = "cell_type" // level of aggregation
//params.filter_samples = true
params.author_results = "/space/grp/rschwartz/rschwartz/psychENCODE-reanalysis/source_data/DEGs/*csv"
params.author_pseudobulks = "$projectDir/source_data/pseudobulks/pseudobulk_expr/*bed.gz"

// gemma annotation params

params.level = "class" // or "subclass", etc.
params.cta_name = "sc-pipeline-1.2.0-${params.level}"
params.celltype_annotation_files = [
  "CMC" : "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/CMC/predicted_celltypes/CMC_${params.level}_cell_type.tsv",
  "PTSDBrainomics" : "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/PTSDBrainomics/predicted_celltypes/PTSDBrainomics_${params.level}_cell_type.tsv",
  "SZBDMulti-Seq" : "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/SZBDMulti-Seq/predicted_celltypes/SZBDMulti-Seq_${params.level}_cell_type.tsv",
  "MultiomeBrain" : "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/MultiomeBrain/predicted_celltypes/MultiomeBrain_${params.level}_cell_type.tsv",
  "UCLA-ASD" : "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/UCLA-ASD/predicted_celltypes/UCLA-ASD_${params.level}_cell_type.tsv",
  "Velmeshev-2019.1": "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/Velmeshev-2019.1/predicted_celltypes/Velmeshev-2019.1_${params.level}_cell_type.tsv",
  "Velmeshev-2019.2": "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/Velmeshev-2019.2/predicted_celltypes/Velmeshev-2019.2_${params.level}_cell_type.tsv",
  "DevBrain": "/space/grp/rschwartz/rschwartz/cell_annotation_cortex.nf/results/homo_sapiens_subsample_ref_500_2025-10-28_11-02-09/DevBrain/predicted_celltypes/DevBrain_${params.level}_cell_type.tsv"
] // List of cell type annotation files, one per study

//DESeq2 options
params.filter_genes = false

process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'local'
  clusterOptions = '-C thrd64 --cpus-per-task=4'

}
executor {
  queueSize = 90 
}

nextflow {
  clean {
    afterRun = true  // Default is false; set to true to clean up automatically
  }
}

profiles {
  conda {
    conda.enabled = true
  }
}

params.gemma_ct_map = [
  "Chandelier"   : "chandelier.pvalb.GABAergic.cortical.interneuron",
  "Lamp5"        : "lamp5.GABAergic.cortical.interneuron",
  "Lamp5.Lhx6"   : "lamp5.GABAergic.cortical.interneuron",
  "Pax6"         : "caudal.ganglionic.eminence.derived.GABAergic.cortical.interneuron",
  "Pvalb"        : "pvalb.GABAergic.cortical.interneuron",
  "Sncg"         : "sncg.GABAergic.cortical.interneuron",
  "Sst"          : "sst.GABAergic.cortical.interneuron",
  "Sst.Chodl"    : "sst.GABAergic.cortical.interneuron",
  "Vip"          : "vip.GABAergic.cortical.interneuron",
  "L2.3.IT"      : "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
  "L4.IT"        : "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
  "L5.6.NP"      : "near.projecting.glutamatergic.cortical.neuron",
  "L5.ET"        : "L5.extratelencephalic.projecting.glutamatergic.cortical.neuron",
  "L5.IT"        : "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
  "L6.CT"        : "L6.corticothalamic.projecting.glutamatergic.cortical.neuron",
  "L6.IT"        : "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
  "L6.IT.Car3"   : "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
  "L6b"          : "L6b.glutamatergic.cortical.neuron",
  "Astro"        : "astrocyte",
  "Endo"         : "endothelial.cell",
  "Immune"       : "no match",
  "Micro"        : "microglial.cell",
  "Micro.PVM"    : "microglial.cell",
  "Oligo"        : "oligodendrocyte",
  "OPC"          : "oligodendrocyte.precursor.cell",
  "PC"           : "pericyte",
  "SMC"          : "no match",
  "VLMC"         : "vascular.leptomeningeal.cell"
]

params.author_ct_map = [
  'Chandelier'   : 'Chandelier',
  'Lamp5'        : 'Lamp5',
  'Lamp5.Lhx6'   : 'Lamp5_Lhx6',
  'Pax6'         : 'Pax6',
  'Pvalb'        : 'Pvalb',
  'Sncg'         : 'Sncg',
  'Sst'          : 'Sst',
  'Sst.Chodl'    : 'Sst_Chodl',
  'Vip'          : 'Vip',
  'L2.3.IT'      : 'L2.3_IT',
  'L4.IT'        : 'L4_IT',
  'L5.6.NP'      : 'L5.6_NP',
  'L5.ET'        : 'L5_ET',
  'L5.IT'        : 'L5_IT',
  'L6.CT'        : 'L6_CT',
  'L6.IT'        : 'L6_IT',
  'L6.IT.Car3'   : 'L6_IT_Car3',
  'L6b'          : 'L6b',
  'Astro'        : 'Astro',
  'Endo'         : 'Endo',
  'Immune'       : 'Immune',
  'Micro'        : 'Micro',
  'Micro.PVM'    : 'Micro',
  'Oligo'        : 'Oligo',
  'OPC'          : 'OPC',
  'PC'           : 'PC',
  'SMC'          : 'SMC',
  'VLMC'         : 'VLMC'
]
// replace with appropriate names

params.gemma_to_gemma_map = [
		"Astro": "astrocyte",
		"Chandelier": "chandelier.pvalb.GABAergic.cortical.interneuron",
		"Endo": "vascular",
		"Immune": "microglial.cell",
		"L2.3_IT": "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
		"L4_IT": "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
		"L5.6_NP": "deep.layer.non.IT",
		"L5_ET": "deep.layer.non.IT",
		"L5_IT": "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
		"L6_CT": "deep.layer.non.IT",
		"L6_IT": "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
		"L6_IT_Car3": "L2.3.6.intratelencephalic.projecting.glutamatergic.neuron",
		"L6b": "deep.layer.non.IT",
		"Lamp5": "lamp5.GABAergic.cortical.interneuron",
		"Lamp5_Lhx6": "lamp5.GABAergic.cortical.interneuron",
		"Micro": "microglial.cell",
		"OPC": "oligodendrocyte.precursor.cell",
		"Oligo": "oligodendrocyte",
		"PC": "vascular",
		"Pax6": "PAX6.GABAergic.cortical.interneuron",
		"Pvalb": "pvalb.GABAergic.cortical.interneuron",
		"SMC": "vascular",
		"Sncg": "sncg.GABAergic.cortical.interneuron",
		"Sst": "sst.GABAergic.cortical.interneuron",
		"Sst_Chodl": "sst.GABAergic.cortical.interneuron",
		"VLMC": "vascular",
		"Vip": "vip.GABAergic.cortical.interneuron"
]


params.pavlab_deseq_results = "/space/grp/rschwartz/rschwartz/psychENCODE-reanalysis/gemma-de-sc-pipeline-${params.level}/DESeq2/gemma/**tsv"
params.author_label_deseq_results = "/space/grp/rschwartz/rschwartz/psychENCODE-reanalysis/gemma-de-author/DESeq2/gemma/**tsv"

