conda.enabled = true

params.outdir = "$projectDir/results_author_submitted_${params.author_submitted}_from_gemma_${params.from_gemma}"
params.from_gemma = true
params.author_submitted = false
params.study_names = "$projectDir/shortnames.txt"
params.gemma_pseudobulks =  "$projectDir/gemma_aggregates/**tsv.gz"
params.h5ad_files = "/space/grp/rschwartz/rschwartz/get_gemma_data.nf/psychEncode_author_false_sample_split_false/homo_sapiens"
params.gemma_meta_dir = "$projectDir/gemma/metadata"

params.author_results = "/space/grp/rschwartz/rschwartz/psychENCODE-reanalysis/source_data/DEGs/*csv"

params.author_pseudobulks = "$projectDir/source_data/pseudobulks/pseudobulk_expr/*bed.gz"

process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'slurm'
  clusterOptions = '-C thrd64 --cpus-per-task=4'

}
executor {
  queueSize = 90 
}

nextflow {
  clean {
    afterRun = true  // Default is false; set to true to clean up automatically
  }
}

profiles {
  conda {
    conda.enabled = true
  }
}

params.gemma_ct_map = [
  "Chandelier"   : "chandelierpvalbGABAergiccorticalinterneuron",
  "Lamp5"        : "lamp5GABAergiccorticalinterneuron",
  "Lamp5.Lhx6"   : "lamp5GABAergiccorticalinterneuron",
  "Pax6"         : "lamp5GABAergiccorticalinterneuron",
  "Pvalb"        : "pvalbGABAergiccorticalinterneuron",
  "Sncg"         : "sncgGABAergiccorticalinterneuron",
  "Sst"          : "sstGABAergiccorticalinterneuron",
  "Sst.Chodl"    : "sstGABAergiccorticalinterneuron",
  "Vip"          : "vipGABAergiccorticalinterneuron",
  "L2.3.IT"      : "L2_3-6intratelencephalicprojectingglutamatergicneuron",
  "L4.IT"        : "L2_3-6intratelencephalicprojectingglutamatergicneuron",
  "L5.6.NP"      : "near-projectingglutamatergiccorticalneuron",
  "L5.ET"        : "L5extratelencephalicprojectingglutamatergicneuron",
  "L5.IT"        : "L2_3-6intratelencephalicprojectingglutamatergicneuron",
  "L6.CT"        : "L6corticothalamic-projectingglutamatergiccorticalneuron",
  "L6.IT"        : "L2_3-6intratelencephalicprojectingglutamatergicneuron",
  "L6.IT.Car3"   : "L2_3-6intratelencephalicprojectingglutamatergicneuron",
  "L6b"          : "L6bglutamatergiccorticalneuron",
  "Astro"        : "astrocyte",
  "Endo"         : "cerebralcortexendothelialcell",
  "Immune"       : "no match",
  "Micro"        : "microglialcell",
  "Micro.PVM"    : "microglialcell",
  "Oligo"        : "oligodendrocyte",
  "OPC"          : "oligodendrocyteprecursorcell",
  "PC"           : "pericyte",
  "SMC"          : "no match",
  "VLMC"         : "vascularleptomeningealcell"
]

params.author_ct_map = [
  'Chandelier'   : 'Chandelier',
  'Lamp5'        : 'Lamp5',
  'Lamp5.Lhx6'   : 'Lamp5_Lhx6',
  'Pax6'         : 'Pax6',
  'Pvalb'        : 'Pvalb',
  'Sncg'         : 'Sncg',
  'Sst'          : 'Sst',
  'Sst.Chodl'    : 'Sst_Chodl',
  'Vip'          : 'Vip',
  'L2.3.IT'      : 'L2_3_IT',
  'L4.IT'        : 'L4_IT',
  'L5.6.NP'      : 'L5_6_NP',
  'L5.ET'        : 'L5_ET',
  'L5.IT'        : 'L5_IT',
  'L6.CT'        : 'L6_CT',
  'L6.IT'        : 'L6_IT',
  'L6.IT.Car3'   : 'L6_IT_Car3',
  'L6b'          : 'L6b',
  'Astro'        : 'Astro',
  'Endo'         : 'Endo',
  'Immune'       : 'Immune',
  'Micro'        : 'Micro',
  'Micro.PVM'    : 'Micro',
  'Oligo'        : 'Oligo',
  'OPC'          : 'OPC',
  'PC'           : 'PC',
  'SMC'          : 'SMC',
  'VLMC'         : 'VLMC'
]

